# NeonDB (Postgres) pooled connection string
# Example: postgresql+asyncpg://<user>:<password>@<host>/<db>?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_GbMmrzQiX7L9@ep-green-glade-aohekw4j-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT secret for signing tokens
JWT_SECRET= 7Qhg9fn5jCmbyyfM33s2YaJ8vXDRa8+Wtw1p9ruFGXk=

# Uvicorn host/port
HOST=127.0.0.1
PORT=8000
